@model GameDB.Domain.DomainClasses.Publisher
@{
    ViewData["Title"] = "Index";
}

<h1>Feels</h1>

@using (Html.BeginForm("Publisher", "Insert", FormMethod.Post))
{
    <div class="form-group">
        <input asp-for="Name" type="text"/>
        <input type="submit" value="Insert"/>
    </div>
}