@model GameDB.Domain.DomainClasses.User
@{
    ViewData["Title"] = "UserIndex";
}

<h1>@Model.Username</h1>
<div class="container">
    <input type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("EditUser", "User", new { UserID = Model.Id })'" value="Edit User" />
    <div class="row">
        <div class="col-sm-8">
            Memes
        </div>
        <div class="col-sm-4">
            <h6>Creation Date</h6>
            <p>@Model.Date_Created.DateTime.ToString("dd-MM-yyyy")</p>
        </div>
    </div>
    <div class="row">
        <h2>Game Library</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Publisher</th>
                    <th>User Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Minecraft</th>
                    <td>2011</td>
                    <td>Mojang</td>
                    <td>5/5</td>
                </tr>
                <tr>
                    <th>Not Minecraft</th>
                    <td>2011</td>
                    <td>Not Mojang</td>
                    <td>0/5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
