
@{
    ViewData["Title"] = "Index";
}

<div class="container d-flex justify-content-around">
    <div>
        <h1>Search</h1>
        <input type="text" />
    </div>
    <div>
        
    </div>
</div>
