@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="autoBarcode">
        <h1 class="d-flex justify-content-around row">Scan Here</h1>
        <div class="d-flex justify-content-around row">
            <video id="video" class="col-sm-8" style="border: 1px solid gray"></video>
        </div>
        <div class="d-flex justify-content-around ">
            <button class="btn btn-success col-sm-4" id="startButton">Start Scan</button>
            <button class="btn btn-danger col-sm-4" id="resetButton">Stop Scan</button>
        </div>
        <label>Result:</label>
        <pre><code id="scanResult"></code></pre>
        <button class="btn btn-primary" id="manualButton">Type Barcode Manually</button>
    </div>
    <div id="manualBarcode" style="display:none;">
        @using (Html.BeginForm("Send", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <input type="text" name="Barcode" id="barcodeInput" />
                <input type="submit" value="Submit" id="barcodeSubmit" class="btn btn-secondary" />
            </div>
        }
        <button class="btn btn-primary" id="autoButton">Scan Barcode Automatically</button>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://unpkg.com/@@zxing/library@0.18.6/umd/index.min.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function () {
            let selectedDeviceId;
            const codeReader = new ZXing.BrowserBarcodeReader()
            console.log('ZXing code reader initialized')
            codeReader.getVideoInputDevices()
                .then((videoInputDevices) => {
                    const sourceSelect = document.getElementById('sourceSelect')
                    selectedDeviceId = videoInputDevices[0].deviceId
                    if (videoInputDevices.length > 1) {
                        videoInputDevices.forEach((element) => {
                            const sourceOption = document.createElement('option')
                            sourceOption.text = element.label
                            sourceOption.value = element.deviceId
                            sourceSelect.appendChild(sourceOption)
                        })

                        sourceSelect.onchange = () => {
                            selectedDeviceId = sourceSelect.value;
                        }

                        const sourceSelectPanel = document.getElementById('sourceSelectPanel')
                        sourceSelectPanel.style.display = 'block'
                    }

                    document.getElementById('startButton').addEventListener('click', () => {
                        codeReader.decodeOnceFromVideoDevice(selectedDeviceId, 'video').then((result) => {
                            console.log(result)
                            document.getElementById('scanResult').textContent = result.text;
                            document.getElementById("barcodeInput").value = result.text;
                            document.getElementById("barcodeSubmit").click();
                        }).catch((err) => {
                            console.error(err)
                            document.getElementById('scanResult').textContent = err
                        })
                        console.log(`Started continous decode from camera with id ${selectedDeviceId}`)
                    })
                    document.getElementById('resetButton').addEventListener('click', () => {
                        document.getElementById('scanResult').textContent = '';
                        codeReader.reset();
                        console.log('Reset.')
                    })

                })
                .catch((err) => {
                    console.error(err)
                })
        })
    </script>
    <script>
        document.getElementById("manualButton").addEventListener("click", function () {
            document.getElementById("manualBarcode").style.display = "block";
            document.getElementById("autoBarcode").style.display = "none";
        })
        document.getElementById("autoButton").addEventListener("click", function () {
            document.getElementById("manualBarcode").style.display = "none";
            document.getElementById("autoBarcode").style.display = "block";
        })
    </script>
}